<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!-- Empleado (uso general) -->
		<add name="EmpleadoDB"
			 connectionString="Server=.;Database=CarWashDB;User Id=EmpleadoUser;Password=Emp_S3gur0#2026!;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
		<!-- Admin (operaciones restringidas) -->
		<add name="AdminDB"
			 connectionString="Server=.;Database=CarWashDB;User Id=AdminMaster;Password=Own3r_S3gur0#2026!;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>